@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <div class="row manufacture-title-container">
        <div class="manufature-bg-overlay">
            <h3>MANUFACTURE</h3>
        </div>
    </div>
    <div class="row manufacture-introduce">
        <div class="manufacture-introduce-left col-md-6">
            <h3>Giới thiệu</h3>
            <p>
                Để có thể đưa đến cho khách hàng những container Hoa Hồi, Quế, Bột làm hương và Tăm tre, chúng tôi đã lựa chọn những đối tác sản xuất hàng đầu Việt Nam để đảm bảo chất lượng sản phẩm tốt nhất và tiến độ giao hàng nhanh nhất.
            </p>
        </div>
        <div class="manufacture-introduce-right col-md-6">
            <img src="~/images/logistics-warehouses.jpg" />
        </div>
    </div>
    <div class="row manufacture-standard">
        <h3>Tiêu chuẩn 5S</h3>
        <p>5 Tiêu chuẩn chúng tôi chọn đối tác</p>
    </div>
    <div class="row manufacture-slide-right">
        <div class="col-md-8 col-sm-12">
            <img src="~/images/screening.jpg" />
        </div>
        <div class=" col-md-4 col-sm-12">
            <div class="manufacture-slide-right-card-content">
                <div>
                    <h3>Sàng Lọc</h3>
                    <span></span>
                    <p>S1: Tổ chức máy móc và nguyên liệu theo trật tự. </p>
                    <p>Nội dung chính của S1 là phân loại nguyên liệu, sàng lọc đầu vào để phân loại chất lượng sản phẩm đầu ra</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row manufacture-slide-left">
        <div class=" col-md-4 col-sm-12" style="z-index:1000">
            <div class="manufacture-slide-left-card-content">
                <div>
                    <h3>Sắp Xếp</h3>
                    <div>
                        <span></span>
                    </div>
                    <p>S2: Sau khi đã loại bỏ các nguyên liệu không cần thiết thì công việc tiếp theo là tổ chức các nguyên liệu còn lại một cách hiệu quả theo tiêu chí dễ tìm, dễ thấy, dễ lấy, dễ trả lại.</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <img src="~/images/sapxep.jpg" />
        </div>
    </div>
    <div class="row manufacture-slide-right">
        <div class="col-md-8 col-sm-12">
            <img src="~/images/sachse.jpg" />
        </div>
        <div class=" col-md-4 col-sm-12">
            <div class="manufacture-slide-right-card-content">
                <div>
                    <h3>Sạch Sẽ</h3>
                    <span></span>
                    <p>S3: Thường xuyên vệ sinh, giữ gìn nơi sản xuất sạch sẽ thông qua việc tổ chức vệ sinh tổng thể và tổ chức vệ sinh hàng ngày máy móc, nguyên liệu và khu làm việc.  </p>
                    <p>Hướng tới cải thiện môi trường làm việc, giảm thiểu rủi ro  đồng thời nâng cao chất lượng sản phẩm (do ảnh hưởng của bụi bẩn).</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row manufacture-slide-left">
        <div class=" col-md-4 col-sm-12" style="z-index:1000">
            <div class="manufacture-slide-left-card-content">
                <div>
                    <h3>Săn Sóc</h3>
                    <div>
                        <span></span>
                    </div>
                    <p>S4: Luôn luôn kiểm tra, duy trì 3S ở trên. Bằng việc phát triển S4, các hoạt động 3S sẽ được cải tiến dần dựa theo tiêu chuẩn đã đặt ra và tiến tới hoàn thiện 5S trong máy sản xuất.</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <img src="~/images/sansoc.jpg" />
        </div>
    </div>
    <div class="row manufacture-slide-right">
        <div class="col-md-8 col-sm-12">
            <img src="~/images/sansang.jpg" />
        </div>
        <div class=" col-md-4 col-sm-12">
            <div class="manufacture-slide-right-card-content">
                <div>
                    <h3>Sẵn Sàng</h3>
                    <span></span>
                    <p>S5: Rèn luyện, tạo nên một thói quen, nề nếp, tác phong, tiêu chuẩn sản xuất cho mọi người trong nhà máy thực hiện 5S</p>
                </div>
            </div>
        </div>
    </div>
</div>