@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <div class="row manufacture-title-container">
        <div class="manufature-bg-overlay">
            <h3>MANUFACTURE</h3>
        </div>
    </div>
    <div class="row manufacture-introduce">
        <div class="manufacture-introduce-left col-md-6">
            <h3>Introduce</h3>
            <p>
                In order to provide our customers with Star Anise, Cassia, Incense Powder, Joss Powder and Bamboo Stick containers, we have selected the leading manufacturing partners in Vietnam to ensure the best product quality and the fastest delivery time.
            </p>
        </div>
        <div class="manufacture-introduce-right col-md-6">
            <img src="~/images/logistics-warehouses.jpg" />
        </div>
    </div>
    <div class="row manufacture-standard">
        <h3>5 Standards</h3>
        <p>To achieve goals introduced above, we set out and adhere these  5 standards when choosing manufacturing partners for optimal and qualified production.</p>
    </div>
    <div class="row manufacture-slide-right">
        <div class="col-md-8 col-sm-12">
            <img src="~/images/hồi vụn đẹp 2.jpg" />
        </div>
        <div class=" col-md-4 col-sm-12">
            <div class="manufacture-slide-right-card-content">
                <div>
                    <h3>Screening</h3>
                    <span></span>
                    <p>S1: Organizing machines and materials in order.</p>
                    <p>The main goal of S1 is to classify raw materials and screen the inputs to classify the quality of output products</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row manufacture-slide-left">
        <div class=" col-md-4 col-sm-12" style="z-index:1000">
            <div class="manufacture-slide-left-card-content">
                <div>
                    <h3>Arranging</h3>
                    <div>
                        <span></span>
                    </div>
                    <p>After eliminating unnecessary materials, the next task is to organize the remaining materials effectively according to the criteria of easy to find, conspicuous, easy to take, easy to return.</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <img src="~/images/sapxep.jpg" />
        </div>
    </div>
    <div class="row manufacture-slide-right">
        <div class="col-md-8 col-sm-12">
            <img src="~/images/sachse.jpg" />
        </div>
        <div class=" col-md-4 col-sm-12">
            <div class="manufacture-slide-right-card-content">
                <div>
                    <h3>Cleaning</h3>
                    <span></span>
                    <p>S3: Regularly clean and maintain clean production sites through organizing overall hygiene and organizing daily sanitation of machines, materials and work areas.  </p>
                    <p>Towards improving the working environment, reducing risks and improving product quality (due to the impact of dirt).</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row manufacture-slide-left">
        <div class=" col-md-4 col-sm-12" style="z-index:1000">
            <div class="manufacture-slide-left-card-content">
                <div>
                    <h3>Taking Care</h3>
                    <div>
                        <span></span>
                    </div>
                    <p>S4: Always check, maintain the 3 Standards above. By developing Standard 4 , 3 Standards’ activities will be gradually improved based on the standards set out and progressively perfect 5 Standards in production.</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <img src="~/images/sansoc.jpg" />
        </div>
    </div>
    <div class="row manufacture-slide-right">
        <div class="col-md-8 col-sm-12">
            <img src="~/images/sansang.jpg" />
        </div>
        <div class=" col-md-4 col-sm-12">
            <div class="manufacture-slide-right-card-content">
                <div>
                    <h3>Ready</h3>
                    <span></span>
                    <p>S5: Training, creating a habit, order, style, production standards for all workers in the factory to implement successfully 5 Standards</p>
                </div>
            </div>
        </div>
    </div>

    <section class="section section-xl bg-default text-md-left">
        <div class="container">
            <div class="row row-40 row-md-60 justify-content-center align-items-xl-center">
                <div class="col-md-11 col-lg-6 col-xl-5">
                    <!-- Quote Classic Big-->
                    <article class="quote-classic-big inset-xl-right-30">
                        <div class="heading-3 quote-classic-big-text">
                            <div class="q">About EXIMANI</div>
                        </div>
                    </article>
                    <!-- Bootstrap tabs-->
                    <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-1">
                        <!-- Nav tabs-->
                        <div class="nav-tabs-wrap">
                            <ul class="nav nav-tabs">
                                <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-1-1" data-toggle="tab">Our mission</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2" data-toggle="tab">Our Vision</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-3" data-toggle="tab">Core value</a></li>
                            </ul>
                        </div>
                        <!-- Tab panes-->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tabs-1-1">
                                <p>Contribute for high quality of product and services for the betterment of society.</p>
                                <p>Pursue our vision through the following:</p>
                                <p><strong>Customers:</strong> Achieve a lasting partnership through an unwavering commitment to excellence in everything we do.</p>
                                <p><strong>Employees:</strong> Trust, respect and empower our employees to help them achieve their goals.</p>
                                <p><strong>Stakeholders:</strong> Work with concern and well being for our various stakeholders - by sharing the responsibility of their economic, social, physical and cultural environments.</p>
                            </div>
                            <div class="tab-pane fade" id="tabs-1-2">
                                <p><strong>EXIMANI VIETNAM</strong> aims to remain trading partners of the world entrepreneurs to reap success.</p>
                                <p>Our passion is to interact with the global trade to exchange innovative ideas and offer sharing our strengths to create better products. We intend to emerge as a destination of the world to play a major role in developing good products provided from Vietnam.</p>
                                <p>To emerge as an Vietnamese enterprise and deliver exceptional quality products and services across the globe.</p>
                            </div>
                            <div class="tab-pane fade" id="tabs-1-3">
                                <p>“Giving value will get faith back”</p>
                                <p>EXIMANI VIETNAM values are achieved through performance with right attitude to social responsibility and eco-friendliness. Our value is based on developing finest natural ingredients to match the requirements at a fair cost and sincere service. This would take us to become the number one in the industry.</p>
                                <p><strong>GOOD PRODUCT, GOOD SERVICE </strong> – We prioritize values.</p>
                                <p>With decades of establishing and operating, we have built up a wide and strong network of loyal customers throughout countries in Europe, Middle East, Asia, and Africa also.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-11 col-lg-6 col-xl-7">
                    <div class="slick-slider-1 inset-xl-left-35">
                        <!-- Slick Carousel-->
                        <div class="slick-slider carousel-parent slick-nav-1 slick-nav-2" id="carousel-parent" data-items="1" data-autoplay="true" data-slide-effect="true" data-child="#child-carousel" data-for="#child-carousel" data-arrows="true">
                            <div class="item">
                                <img src="~/images/About us/prson.jpg" alt="" width="634" height="373" />
                            </div>
                            <div class="item">
                                <img src="~/images/about us 3.jpg" alt="" width="634" height="373" />
                            </div>
                            <div class="item">
                                <img src="~/images/about us 4.jpg" alt="" width="634" height="373" />
                            </div>
                            <div class="item">
                                <img src="~/images/About us/about us.jpg" alt="" width="634" height="373" />
                            </div>
                        </div>
                        <div class="slick-slider child-carousel" id="child-carousel" data-items="3" data-sm-items="4" data-md-items="4" data-lg-items="4" data-xl-items="4" data-xxl-items="4" data-for="#carousel-parent">
                            <div class="item">
                                <img src="~/images/About us/prson.jpg" alt="" width="143" height="114" />
                            </div>
                            <div class="item">
                                <img src="~/images/About us/2.jpg" alt="" width="143" height="114" />
                            </div>
                            <div class="item">
                                <img src="~/images/About us/3.jpg" alt="" width="143" height="114" />
                            </div>
                            <div class="item">
                                <img src="~/images/About us/5.jpg" alt="" width="143" height="114" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts{
    <script>
        $(".rd-navbar-nav").children().removeClass("active");
        $(".rd-navbar-nav li:nth-child(5)").addClass("active");
    </script>
}