@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="container-fluid">
        <div class="parallax-container" data-parallax-img="eximani-images/bg_manufactory.jpg">
            <div class="breadcrumbs-custom-body parallax-content context-dark">
                <div class="container">
                    <h1 class="breadcrumbs-custom-title" style="text-align:center; font-size: 55px; font-weight: 600">Manufactory</h1>
                </div>
            </div>
        </div>
        <div class="row manufacture-introduce">
            <div class="manufacture-introduce-left col-md-6">
                <h3>Introduce</h3>
                <p>
                    In order to provide our customers with Star Anise, Cassia, Incense Powder, Joss Powder and Bamboo Stick containers, we have selected the leading manufacturing partners in Vietnam to ensure the best product quality and the fastest delivery time.
                </p>
            </div>
            <div class="manufacture-introduce-right col-md-6">
                <img src="~/eximani-images/eximani-manufactory/eximani-manufactory.jpg" title="Eximani Manufactory" alt="eximani-manufactory" />
            </div>
        </div>
        <div class="row manufacture-standard">
            <h3>5 Standards</h3>
            <p>To achieve goals introduced above, we set out and adhere these  5 standards when choosing manufacturing partners for optimal and qualified production.</p>
        </div>
        <div class="row manufacture-slide-right">
            <div class="col-md-8 col-sm-12">
                <img src="~/eximani-images/eximani-manufactory/screening-star-anise.jpg" title="Product Screening" alt="screening-star-anise"/>
            </div>
            <div class=" col-md-4 col-sm-12">
                <div class="manufacture-slide-right-card-content">
                    <div>
                        <h3>Screening</h3>
                        <span></span>
                        <p>S1: Organizing machines and materials in order.</p>
                        <p>The main goal of S1 is to classify raw materials and screen the inputs to classify the quality of output products</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row manufacture-slide-left">
            <div class=" col-md-4 col-sm-12" style="z-index:1000">
                <div class="manufacture-slide-left-card-content">
                    <div>
                        <h3>Arranging</h3>
                        <div>
                            <span></span>
                        </div>
                        <p>After eliminating unnecessary materials, the next task is to organize the remaining materials effectively according to the criteria of easy to find, conspicuous, easy to take, easy to return.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <img src="~/eximani-images/eximani-manufactory/arranging-eximani-manufactory.jpg" title="Arrange" alt="arranging-eximani-manufactory" />
            </div>
        </div>
        <div class="row manufacture-slide-right">
            <div class="col-md-8 col-sm-12">
                <img src="~/eximani-images/eximani-manufactory/cleaning-eximani-manufactory.jpg" title="Cleaning" alt="cleaning-eximani-manufactory"/>
            </div>
            <div class=" col-md-4 col-sm-12">
                <div class="manufacture-slide-right-card-content">
                    <div>
                        <h3>Cleaning</h3>
                        <span></span>
                        <p>S3: Regularly clean and maintain clean production sites through organizing overall hygiene and organizing daily sanitation of machines, materials and work areas.  </p>
                        <p>Towards improving the working environment, reducing risks and improving product quality (due to the impact of dirt).</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row manufacture-slide-left">
            <div class=" col-md-4 col-sm-12" style="z-index:1000">
                <div class="manufacture-slide-left-card-content">
                    <div>
                        <h3>Taking Care</h3>
                        <div>
                            <span></span>
                        </div>
                        <p>S4: Always check, maintain the 3 Standards above. By developing Standard 4 , 3 Standards’ activities will be gradually improved based on the standards set out and progressively perfect 5 Standards in production.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <img src="~/eximani-images/eximani-manufactory/taking-care-eximani-manufactory.jpg" title="Taking Care" alt="taking-care-eximani-manufactory"/>
            </div>
        </div>
        <div class="row manufacture-slide-right">
            <div class="col-md-8 col-sm-12">
                <img src="~/eximani-images/eximani-manufactory/ready-eximani-manufactory.jpg" title="Ready" alt="ready-eximani-manufactory"/>
            </div>
            <div class=" col-md-4 col-sm-12">
                <div class="manufacture-slide-right-card-content">
                    <div>
                        <h3>Ready</h3>
                        <span></span>
                        <p>S5: Training, creating a habit, order, style, production standards for all workers in the factory to implement successfully 5 Standards</p>
                    </div>
                </div>
            </div>
        </div>

        <section class="section section-xl bg-default text-md-left">
            <div class="container">
                <div class="row row-40 row-md-60 justify-content-center align-items-xl-center">
                    <div class="col-md-11 col-lg-6 col-xl-5">
                        <!-- Quote Classic Big-->
                        <article class="quote-classic-big inset-xl-right-30">
                            <div class="heading-3 quote-classic-big-text">
                                <div class="q">Manufactory</div>
                            </div>
                        </article>
                        <!-- Bootstrap tabs-->
                        <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-1">
                            <!-- Nav tabs-->
                            <!-- Tab panes-->
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tabs-1-1">
                                    <h5>We have 4 manufactory:</h5>
                                    <p><strong>Bamboo Stick Manufactory</strong> </p>
                                    <p><strong>Poweder Manufactory</strong> </p>
                                    <p><strong>Star Anise Manufactory</strong></p>
                                    <p><strong>Incense Manufactory</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-11 col-lg-6 col-xl-7">
                        <div class="slick-slider-1 inset-xl-left-35">
                            <!-- Slick Carousel-->
                            <div class="slick-slider carousel-parent slick-nav-1 slick-nav-2" id="carousel-parent" data-items="1" data-autoplay="true" data-slide-effect="true" data-child="#child-carousel" data-for="#child-carousel" data-arrows="true">
                                <div class="item">
                                    <img src="~/eximani-images/eximani-manufactory/incense.jpg" title="Incense" alt="incense" width="634" height="373" />
                                </div>
                                <div class="item">
                                    <img src="~/eximani-images/eximani-manufactory/powder-manufactory.jpg" title="Powder Manufactory" alt="powder-manufactory" width="634" height="373" />
                                </div>
                                <div class="item">
                                    <img src="~/eximani-images/eximani-manufactory/powder-manufactory-2.jpg" title="Powder Manufactory" alt="powder-manufactory-2" width="634" height="373" />
                                </div>
                                <div class="item">
                                    <img src="~/eximani-images/eximani-manufactory/powder-3.jpg" title="Powder" alt="powder-3" width="634" height="373" />
                                </div>
                            </div>
                            <div class="slick-slider child-carousel" id="child-carousel" data-items="3" data-sm-items="4" data-md-items="4" data-lg-items="4" data-xl-items="4" data-xxl-items="4" data-for="#carousel-parent">
                                <div class="item">
                                    <img src="~/eximani-images/eximani-manufactory/incense.jpg" title="Incense" alt="incense" width="143" height="114" />
                                </div>
                                <div class="item">
                                    <img src="~/eximani-images/eximani-manufactory/powder-manufactory.jpg"  title="Powder Manufactory"  alt="powder-manufactory" width="143" height="114" />
                                </div>
                                <div class="item">
                                    <img src="~/eximani-images/eximani-manufactory/powder-manufactory-2.jpg"  title="Powder Manufactory"  alt="powder-manufactory-2" width="143" height="114" />
                                </div>
                                <div class="item">
                                    <img src="~/eximani-images/eximani-manufactory/powder-3.jpg" title="Powder"  alt="" width="143" height="114" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

@section Scripts{
    <script>
        $(".rd-navbar-nav").children().removeClass("active");
        $(".rd-navbar-nav li:nth-child(5)").addClass("active");
    </script>
}