@model LandingPage.Models.ContactViewModel


<section class="breadcrumbs-custom">
    <div class="parallax-container" data-parallax-img="eximani-images/back2.jpg">
        <div class="breadcrumbs-custom-body parallax-content context-dark">
            <div class="container">
                <h2 class="breadcrumbs-custom-title">Contact Us</h2>
            </div>
        </div>
    </div>
    <div class="breadcrumbs-custom-footer">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">Contact Us</li>
            </ul>
        </div>
    </div>
</section>
<!-- Get in touch-->
<section class="section section-xl bg-default text-md-left">
    <div class="container">
        <div class="title-classic">
            <h3 class="title-classic-title">Get in touch</h3>
            <p class="title-classic-subtitle">We are available 24/7 by fax, e-mail or by phone. You can also use our <br class="d-none d-lg-block">quick contact form to ask a question about our products.</p>
        </div>
        <form class="rd-form rd-mailform" data-form-output="form-output-global" asp-action="ReceiveContact" asp-controller="EximaniContact" data-form-type="contact" method="post">
            <div class="row row-20 row-md-30">
                <div class="col-lg-8">
                    <div class="row row-20 row-md-30">
                        <div class="col-sm-6">
                            <div class="form-wrap">
                                <input class="form-input" id="contact-first-name-2" asp-for="FirstName" type="text" name="firstName"/>
                                <label class="form-label" for="contact-first-name-2">First Name</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-wrap">
                                <input class="form-input" id="contact-last-name-2" asp-for="LastName" type="text" name="lastName"/>
                                <label class="form-label" for="contact-last-name-2">Last Name</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-wrap">
                                <input class="form-input" id="contact-email-2" asp-for="Email" type="email" name="email"/>
                                <label class="form-label" for="contact-email-2">E-mail</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-wrap">
                                <input class="form-input" id="contact-phone-2" asp-for="PhoneNumber" type="text" name="phoneNumber"/>
                                <label class="form-label" for="contact-phone-2">Phone</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-wrap">
                        <label class="form-label" for="contact-message-2">Message</label>
                        <textarea class="form-input textarea-lg" id="contact-message-2" asp-for="Message" name="message"></textarea>
                    </div>
                </div>
            </div>
            <button class="button button-lg button-secondary button-zakaria" type="submit">Send Message</button>
        </form>
    </div>
</section>
@section Scripts{
    <script>
        $(".rd-navbar-nav").children().removeClass("active");
        $(".rd-navbar-nav li:nth-child(6)").addClass("active");
    </script>
}
