     <!--+breadcrumbs-->
<section class="breadcrumbs-custom">
    <div class="parallax-container parallax-container-bg">
        <div class="breadcrumbs-custom-body parallax-content context-dark">
            <div class="container">
                <h2 class="breadcrumbs-custom-title">About Us</h2>
                @*<h5 class="breadcrumbs-custom-text">We are industry-leading organic farm delivering the best products <br class="d-none d-md-block">that boost your daily life energy and potential.</h5>*@
                <p><h4>COMPETITIVE PRICE WITHOUT QUALITY SACRIFICE.</h4></p>
            </div>
        </div>
    </div>
    <div class="breadcrumbs-custom-footer">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</section>
<!-- Section About-->
<section class="section section-xl bg-default text-md-left">
    <div class="container">
        <div class="row row-40 row-md-60 justify-content-center align-items-xl-center">
            <div class="col-md-11 col-lg-6 col-xl-5">
                <!-- Quote Classic Big-->
                <article class="quote-classic-big inset-xl-right-30">
                    <div class="heading-3 quote-classic-big-text">
                        <div class="q">About EXIMANI</div>
                    </div>
                </article>
                <!-- Bootstrap tabs-->
                <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-1">
                    <!-- Nav tabs-->
                    <div class="nav-tabs-wrap">
                        <ul class="nav nav-tabs">
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-1-1" data-toggle="tab">Our mission</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2" data-toggle="tab">Our Vision</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-3" data-toggle="tab">Core value</a></li>
                        </ul>
                    </div>
                    <!-- Tab panes-->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tabs-1-1">
                            <p>Contribute for high quality of product and services for the betterment of society.</p>
                            <p>Pursue our vision through the following:</p>
                            <p><strong>Customers:</strong> Achieve a lasting partnership through an unwavering commitment to excellence in everything we do.</p>
                            <p><strong>Employees:</strong> Trust, respect and empower our employees to help them achieve their goals.</p>
                            <p><strong>Stakeholders:</strong> Work with concern and well being for our various stakeholders - by sharing the responsibility of their economic, social, physical and cultural environments.</p>
                        </div>
                        <div class="tab-pane fade" id="tabs-1-2">
                            <p><strong>EXIMANI VIETNAM</strong> aims to remain trading partners of the world entrepreneurs to reap success.</p>
                            <p>Our passion is to interact with the global trade to exchange innovative ideas and offer sharing our strengths to create better products. We intend to emerge as a destination of the world to play a major role in developing good products provided from Vietnam.</p>
                            <p>To emerge as an Vietnamese enterprise and deliver exceptional quality products and services across the globe.</p>
                        </div>
                        <div class="tab-pane fade" id="tabs-1-3">
                            <p>“Giving value will get faith back”</p>
                            <p>EXIMANI VIETNAM values are achieved through performance with right attitude to social responsibility and eco-friendliness. Our value is based on developing finest natural ingredients to match the requirements at a fair cost and sincere service. This would take us to become the number one in the industry.</p>
                            <p><strong>GOOD PRODUCT, GOOD SERVICE </strong> – We prioritize values.</p>
                            <p>With decades of establishing and operating, we have built up a wide and strong network of loyal customers throughout countries in Europe, Middle East, Asia, and Africa also.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-lg-6 col-xl-7">
                <div class="slick-slider-1 inset-xl-left-35">
                    <!-- Slick Carousel-->
                    <div class="slick-slider carousel-parent slick-nav-1 slick-nav-2" id="carousel-parent" data-items="1" data-autoplay="true" data-slide-effect="true" data-child="#child-carousel" data-for="#child-carousel" data-arrows="true">
                        <div class="item">
                            <img src="~/eximani-images/about-us/cassia.jpg" alt="" width="634" height="373" />
                        </div>
                        <div class="item">
                            <img src="~/eximani-images/about-us/broken-anise.jpg" alt="" width="634" height="373" />
                        </div>
                        <div class="item">
                            <img src="~/eximani-images/about-us/star-anise.jpg" alt="" width="634" height="373" />
                        </div>
                        <div class="item">
                            <img src="~/eximani-images/about-us/whole-cassia.jpg" alt="" width="634" height="373" />
                        </div>
                    </div>
                    <div class="slick-slider child-carousel" id="child-carousel" data-items="3" data-sm-items="4" data-md-items="4" data-lg-items="4" data-xl-items="4" data-xxl-items="4" data-for="#carousel-parent">
                        <div class="item">
                            <img src="~/eximani-images/about-us/cassia.jpg" alt="" width="143" height="114" />
                        </div>
                        <div class="item">
                            <img src="~/eximani-images/about-us/broken-anise.jpg" alt="" width="143" height="114" />
                        </div>
                        <div class="item">
                            <img src="~/eximani-images/about-us/star-anise.jpg" alt="" width="143" height="114" />
                        </div>
                        <div class="item">
                            <img src="~/eximani-images/about-us/whole-cassia.jpg" alt="" width="143" height="114" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section History-->
<section class="section section-fluid section-xl section-bottom-0 bg-image-2 section-relative context-dark">
    <div class="container-fluid">
        <h2>Our History</h2>
        <div class="slick-history">
            <!-- Slick Carousel-->
            <div class="slick-slider carousel-parent" id="carousel-parent-2" data-items="1" data-sm-items="2" data-md-items="2" data-lg-items="3" data-xl-items="3" data-xxl-items="4" data-autoplay="false" data-loop="false">
                <div class="item">
                    <div class="box-info-classic">
                        <h4 class="box-info-classic-title">Establishment</h4>
                        <p class="box-info-classic-text">We have established </p>
                    </div>
                </div>
                <div class="item">
                    <div class="box-info-classic">
                        <h4 class="box-info-classic-title">First Success</h4>
                        <p class="box-info-classic-text">When we started company we got </p>
                    </div>
                </div>
                <div class="item">
                    <div class="box-info-classic">
                        <h4 class="box-info-classic-title">dasgdsag </h4>
                        <p class="box-info-classic-text">We had imposed new technology in our sotrages to keep the food fresh and safe</p>
                    </div>
                </div>
                <div class="item">
                    <div class="box-info-classic">
                        <h4 class="box-info-classic-title">Branch Office</h4>
                        <p class="box-info-classic-text">We have sdsagsdagsdagsdgsdgs</p>
                    </div>
                </div>
                <div class="item">
                    <div class="box-info-classic">
                        <h4 class="box-info-classic-title">Partnership</h4>
                        <p class="box-info-classic-text">We have partnership with many foreign companies and lot more.</p>
                    </div>
                </div>
            </div>
            <div class="slick-slider child-carousel" data-items="1" data-sm-items="2" data-md-items="2" data-lg-items="3" data-xl-items="3" data-xxl-items="4" data-arrows="true" data-for="#carousel-parent-2" data-loop="false" data-focus-select="false">
                <div class="item">
                    <div class="heading-5 box-info-classic-year">2018</div>
                </div>
                <div class="item">
                    <div class="heading-5 box-info-classic-year">2018</div>
                </div>
                <div class="item">
                    <div class="heading-5 box-info-classic-year">2019</div>
                </div>
                <div class="item">
                    <div class="heading-5 box-info-classic-year">2019</div>
                </div>
                <div class="item">
                    <div class="heading-5 box-info-classic-year">2020</div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Counter Modern-->
<section class="parallax-container" data-parallax-img="eximani-images/parallax-2.jpg">
    <div class="parallax-content section-xxl context-dark">
        <div class="container">
            <div class="row row-30 justify-content-center">
                <div class="col-6 col-sm-3">
                    <div class="counter-modern">
                        <h2 class="counter-modern-number">
                            <span class="counter">245</span>
                        </h2>
                        <div class="counter-modern-decor"></div>
                        <h5 class="counter-modern-title">Vegetables<br class="d-none d-sm-block"> and fruits</h5>
                    </div>
                </div>
                <div class="col-6 col-sm-3">
                    <div class="counter-modern">
                        <h2 class="counter-modern-number">
                            <span class="counter">382</span>
                        </h2>
                        <div class="counter-modern-decor"></div>
                        <h5 class="counter-modern-title">Reliable<br class="d-none d-sm-block"> partners</h5>
                    </div>
                </div>
                <div class="col-6 col-sm-3">
                    <div class="counter-modern">
                        <h2 class="counter-modern-number">
                            <span class="counter">1267</span>
                        </h2>
                        <div class="counter-modern-decor"></div>
                        <h5 class="counter-modern-title">Satisfied<br class="d-none d-sm-block"> customers</h5>
                    </div>
                </div>
                <div class="col-6 col-sm-3">
                    <div class="counter-modern">
                        <h2 class="counter-modern-number">
                            <span class="counter">474</span>
                        </h2>
                        <div class="counter-modern-decor"></div>
                        <h5 class="counter-modern-title">New blog<br class="d-none d-sm-block"> articles</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials-->
<section class="section section-xl bg-image-1">
    <div class="container">
        <h2>Testimonials</h2>
        <!-- Owl Carousel-->
        <div class="owl-carousel owl-style-1" data-items="1" data-sm-items="2" data-margin="30" data-dots="true" data-autoplay="true">
            <!-- Quote Modern-->
            <article class="quote-modern">
                <div class="quote-modern-text">
                    <div class="q">As an importer, I face the challenge of getting our goods cleared by the Food Safety and Standards Authority of India (FSSAI). The other challenge is that many a time, the cassia are not completely dried by exporters before shipping, and by the time they reach us, the moisture from the products evaporates and recondenses on the cassia in the container, leading to the formation of fungus. Fungus on vegetable products leads to the formation of aflatoxin, which is a harmful carcinogen. So, this process of drying by the packers has to be thorough, but many exporters do not follow this norm. Eximani Vietnam is presently our preferred sourcing company because of the quality of their product. In order to build a good reputation, exporters should adhere to better quality standards.</div>
                </div>
                <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                    <div class="unit-left">
                        <div class="quote-modern-figure">
                            <img src="eximani-images/user-10-62x62.jpg" alt="" width="62" height="62" />
                        </div>
                    </div>
                    <div class="unit-body">
                        <div class="quote-modern-author">Rajesh Kumar Delhi</div>
                        <div class="quote-modern-status">Client</div>
                    </div>
                </div>
            </article>
            <!-- Quote Modern-->
            <article class="quote-modern">
                <div class="quote-modern-text">
                    <div class="q">I picked sample from your company first and than had a full container from your company it was really nice having deal with you. Quality was too good and delivery was on time.</div>
                </div>
                <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                    <div class="unit-left">
                        <div class="quote-modern-figure">
                            <img src="eximani-images/user-11-62x62.jpg" alt="" width="62" height="62" />
                        </div>
                    </div>
                    <div class="unit-body">
                        <div class="quote-modern-author">Jane Lee</div>
                        <div class="quote-modern-status">Client</div>
                    </div>
                </div>
            </article>
            <!-- Quote Modern-->
            <article class="quote-modern">
                <div class="quote-modern-text">
                    <div class="q">In the past, I was always worried about the amount of broken cinnamon being imported until I received a referral from a friend about Eximani. Since choosing them as a partner, I don't have to worry about anything else.</div>
                </div>
                <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                    <div class="unit-left">
                        <div class="quote-modern-figure">
                            <img src="eximani-images/user-5-62x62.jpg" alt="" width="62" height="62" />
                        </div>
                    </div>
                    <div class="unit-body">
                        <div class="quote-modern-author">M. Varadharajan</div>
                        <div class="quote-modern-status">Client</div>
                    </div>
                </div>
            </article>

            <article class="quote-modern">
                <div class="quote-modern-text">
                    <div class="q">Previously, I imported Star Anise from Chinese partners because their prices were quite cheap, but the quality of goods was not equal. Since cooperating with Eximani Vietnam, I am completely assured of the quality and price.”</div>
                </div>
                <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                    <div class="unit-left">
                        <div class="quote-modern-figure">
                            <img src="eximani-images/user-5-62x62.jpg" alt="" width="62" height="62" />
                        </div>
                    </div>
                    <div class="unit-body">
                        <div class="quote-modern-author">Pashupati</div>
                        <div class="quote-modern-status">Client</div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- Section Clients-->
@section Scripts{
    <script>
        $(".rd-navbar-nav").children().removeClass("active");
        $(".rd-navbar-nav li:nth-child(2)").addClass("active");
    </script>
}
