@model ExhibitDetailBlogViewModel
    <style type="text/css">
        h1, h2, h3, h4, h5, h6 {
            text-transform: none !important;
        }

        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.5em;
        }

        h3 {
            font-size: 1.17em;
        }

        h4 {
            font-size: 1em;
        }

        h5 {
            font-size: 0.83em;
        }

        h6 {
            font-size: 0.67em;
        }
    </style>
    <section class="detail-section">
        <div class="container detail-prod-container">
            <div class="row">
                <div style="width: 100%">
                    <h1 style="text-transform: none;font-size:36px;font-weight:600 ">
                        @Model.Title
                    </h1>
                </div>
                <div style="margin: 10px 0 20px 0">
                    <p><a href="/Home">Home</a>/<a href="/EximaniBlog">Blog</a></p>
                </div>
                <div>
                    @Html.Raw(Model.Content)
                </div>
            </div>
        </div>
    </section>
    @section Scripts{
        <script>
            $(".rd-navbar-nav").children().removeClass("active");
            $(".rd-navbar-nav li:nth-child(4)").addClass("active");
        </script>
    }