@model List<ExhibitBlogViewModel>
    <div style="width: 100%; background-color: #f5f5f5; height: auto">
        <div class="parallax-container" data-parallax-img="eximani-images/bg-pattern-2.jpg">
            <div class="breadcrumbs-custom-body parallax-content context-dark">
                <div class="container">
                    <h1  class="breadcrumbs-custom-title" style="text-align:center; font-size: 55px; font-weight: 600">Blogs</h1>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top:50px">
            <div class="row">

                @foreach (var blog in Model)
                {
                    <div class="blog-item" style="margin-bottom: 20px">
                        <div class="blog-item-container">
                            <a href="@blog.LinkDetail">
                                <h1 style="text-transform: none; font-size:36px; font-weight: 600">
                                    @blog.BlogTitle
                                </h1>
                            </a>
                            <div class="blog-item-content">
                                <div style="height:20px">
                                </div>
                                <p>@blog.ShortDescription</p>
                                <a href="@blog.LinkDetail">Read More >></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

@section Scripts{
    <script>
        $(".rd-navbar-nav").children().removeClass("active");
        $(".rd-navbar-nav li:nth-child(4)").addClass("active");
    </script>
}
