<section class="breadcrumbs-custom">
    <div class="parallax-container" data-parallax-img="images/parallax-2.jpg">
        <div class="breadcrumbs-custom-body parallax-content context-dark">
            <div class="container">
                <h2 class="breadcrumbs-custom-title">Products</h2>
            </div>
        </div>
    </div>
    <div class="breadcrumbs-custom-footer">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">products</li>
            </ul>
        </div>
    </div>
</section>
<!-- Section Shop-->
<section class="section section-xxl bg-default text-md-left">
    <div class="container">
        <div class="row row-50">
            <div class="col-lg-12 col-xl-12">

                <div class="row row-30 row-lg-50">
                    <div class="col-sm-6 col-md-3 col-lg-6 col-xl-4">
                        <!-- Product-->
                        <article class="product">
                            <div class="product-body">
                                <div class="product-figure">
                                    <img src="~/images/ảnh sản phẩm/QUE.jpg" alt="" width="220" height="220" />
                                </div>
                                <h5 class="product-title"><a href="includes/product.pdf" target="_blank">Cassia</a></h5>
                            </div>
                            <div class="product-button-wrap">
                                <div class="product-button"><a class="button button-secondary button-zakaria fl-bigmug-line-search74" href="includes/product.pdf" target="_blank"></a></div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-6 col-xl-4">
                        <!-- Product-->
                        <article class="product">
                            <div class="product-body">
                                <div class="product-figure">
                                    <img src="~/images/ảnh sản phẩm/Tam Nhang.jpg" alt="" width="220" height="220" />
                                </div>
                                <h5 class="product-title"><a href="includes/product.pdf" target="_blank">Incense Sticks</a></h5>
                                <div class="product-price-wrap">
                                </div>
                            </div>
                            <div class="product-button-wrap">
                                <div class="product-button"><a class="button button-secondary button-zakaria fl-bigmug-line-search74" href="includes/product.pdf" target="_blank"></a></div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-6 col-xl-4">
                        <!-- Product-->
                        <article class="product">
                            <div class="product-body">
                                <div class="product-figure">
                                    <img src="~/images/ảnh sản phẩm/Hoa Hoi.jpg" alt="" width="220" height="220" />
                                </div>
                                <h5 class="product-title"><a href="includes/product.pdf" target="_blank">Star Anise</a></h5>
                                <div class="product-price-wrap">
                                </div>
                            </div>
                            <div class="product-button-wrap">
                                <div class="product-button"><a class="button button-secondary button-zakaria fl-bigmug-line-search74" href="includes/product.pdf" target="_blank"></a></div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-6 col-xl-4">
                        <!-- Product-->
                        <article class="product">
                            <div class="product-body">
                                <div class="product-figure">
                                    <img src="~/images/ảnh sản phẩm/BOt.jpg" alt="" width="220" height="220" />
                                </div>
                                <h5 class="product-title"><a href="includes/product.pdf" target="_blank">Joss Powder</a></h5>
                                <div class="product-price-wrap">
                                </div>
                            </div>
                            <div class="product-button-wrap">
                                <div class="product-button"><a class="button button-secondary button-zakaria fl-bigmug-line-search74" href="includes/product.pdf" target="_blank"></a></div>
                            </div>
                        </article>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-6 col-xl-4">
                        <!-- Product-->
                        <article class="product">
                            <div class="product-body">
                                <div class="product-figure">
                                    <img src="~/images/ảnh sản phẩm/Bamboo.jpg" alt="" width="220" height="220" />
                                </div>
                                <h5 class="product-title"><a href="includes/product.pdf" target="_blank">Bamboo Sticks</a></h5>
                                <div class="product-price-wrap">
                                </div>
                            </div>
                            <div class="product-button-wrap">
                                <div class="product-button"><a class="button button-secondary button-zakaria fl-bigmug-line-search74" href="includes/product.pdf" target="_blank"></a></div>
                            </div>
                        </article>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-6 col-xl-4">
                        <!-- Product-->
                        <article class="product">
                            <div class="product-body">
                                <div class="product-figure">
                                    <img src="~/images/ảnh sản phẩm/BotHuong.jpg" alt="" width="220" height="220" />
                                </div>
                                <h5 class="product-title"><a href="includes/product.pdf" target="_blank">Wood Powder</a></h5>
                                <div class="product-price-wrap">
                                </div>
                            </div>
                            <div class="product-button-wrap">
                                <div class="product-button"><a class="button button-secondary button-zakaria fl-bigmug-line-search74" href="includes/product.pdf" target="_blank"></a></div>
                            </div>
                        </article>
                    </div>

                </div>
                <div class="pagination-wrap">

                </div>
            </div>
        </div>
    </div>
</section>