@model BlogViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}

<div class="card" style="width: 81%; height: 1000px; margin-left: 275px; margin-top: 11px;">
    <div>
        <p>Create Blog</p>
    </div>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">General</a></li>
            <li><a href="#tabs-2">SEO</a></li>
        </ul>
        <div id="tabs-1">
            <div class="input-group mb-3">
                <label></label>
                <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <select data-palaceholder="Choose category" multiple tabindex="3" class="category">
                    <option value=""></option>
                    <option value="United States">United States</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="Afghanistan">Afghanistan</option>
                    <option value="Aland Islands">Aland Islands</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <label for="short-description">ShortDescription</label>
                <textarea rows="3" id="short-description" type="text" name="ShortDescription" style="width:100%"></textarea>
            </div>
            <div class="md-3">
                <label for="content">Content</label>
                <textarea id="content">Next, use our Get Started docs to setup Tiny!</textarea>
            </div>
            <div class="form-check form-check-inline mt-3">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">Published</label>
            </div>
        </div>
        <div id="tabs-2">
            <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary">Save</button>
    </div>

</div>
@section Scripts
{
    <script type="text/javascript" src="~/js/admin/blog/blogs.js"></script>

}