@model List<BlogViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
<div class="content-wrapper">
    <div class="card" style="min-height: 381px; margin: 25px; padding: 15px;">
        <div class="table-container">
            <table id="blog-table">
                <thead>
                    <tr>
                        <th>Blog Title</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.BlogTitle</td>
                            <td>Test</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
   
</div>
@section Scripts
{
    <script type="text/javascript" src="~/js/admin/blog/index.js"></script>
}