@model List<BlogViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
<div class="content-wrapper">
    <div class="card" style="min-height: 381px; margin: 25px; padding: 15px;">
        <div class="table-container">
            <table id="blog-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>Blog Title</th>  
                        <th>Author</th>
                        <th>Created Date</th>
                        <th>Category</th>
                        <th>Published</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.BlogTitle</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <button class="dropdown-item" type="button">Edit</button>
                                        <button class="dropdown-item" type="button">Delete</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
   
</div>
@section Scripts
{
    <script type="text/javascript" src="~/js/admin/blog/index.js"></script>
}