:root {
    --primary-color: rgb(0, 251, 251);
    --secondary-color: #bc1ea1;
    --white-color: #f1f1f1;
    --black-color: #000;
    --green-color: #21f4b5;
    --transition: 0.3s all linear;
    --background-color: #1f0c5b;
    --font-family: "HelveticaNeue";
}

* {
    box-sizing: inherit;
}

@font-face {
    font-weight: 400;
    font-family: "HelveticaNeue";
    src: url(../fonts/helveticaneue_0.ttf);
}

@font-face {
    font-weight: 600;
    font-family: "HelveticaNeue";
    src: url(../fonts/helveticaneuebold.ttf);
}

@font-face {
    font-weight: 300;
    font-family: "HelveticaNeue";
    src: url(../fonts/helveticaneuelight.ttf);
}

@font-face {
    font-weight: 800;
    font-family: "HelveticaNeue";
    src: url(../fonts/helveticaneuecondensedblack.ttf);
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: var(--white-color);
    font-family: var(--font-family);
    background-color: var(--background-color);
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.w-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.max-width {
    max-width: 1440px;
    margin: 0 auto;
}

.landing-page {
    z-index: 1;
}

    .landing-page .decor-body {
        z-index: -1;
        width: 100%;
        height: -webkit-fill-available;
    }

/* banner */
.bg-banner {
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.text-banner {
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.wrapper-person {
    top: 38%;
}

.list-up {
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 280px);
}

    .list-up .img-person1 {
        left: 50%;
        width: 47%;
    }

    .list-up .img-person2 {
        left: 15%;
        width: 47%;
    }

.list-down {
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 280px);
}

    .list-down .img-person {
        width: 63%;
        left: 50%;
        transform: translateX(-50%);
    }

/* information */
.information {
    padding: 0 140px;
}

.infor-address .box {
    margin: 0;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    box-shadow: 0px 0px 2px 2px rgba(0, 251, 251, 0.6);
}

    .infor-address .box .text {
        font-size: 30px;
        margin-left: 1.5rem;
        font-weight: 600;
    }

    .infor-address .box span {
        font-weight: 400;
    }

/* result */
.result .box {
    font-size: 32px;
    padding: 30px 25px;
    font-weight: 300;
    border-radius: 18px;
    border: 2px solid var(--secondary-color);
    box-shadow: 0px 0px 2px 2px rgba(188, 30, 161, 0.6);
}

/* five-truths */

.five-truths {
    margin-top: 2rem;
    border-radius: 18px;
    border: 5px solid var(--secondary-color);
    box-shadow: 0px 0px 4px 4px rgba(188, 30, 161, 0.6);
}

    .five-truths .box-title {
        border-radius: 18px;
        box-shadow: 0px 0px 4px 4px rgba(143, 143, 143, 0.6);
        background-color: var(--secondary-color);
        padding: 2rem 2rem 2rem 4rem;
    }

        .five-truths .box-title .number {
            font-size: 140px;
            font-weight: 800;
            margin-right: 3rem;
            color: var(--green-color);
            line-height: 110%;
        }

        .five-truths .box-title .title-text {
            font-size: 30px;
        }

    .five-truths .title-text .title-text-up {
        font-weight: 600;
    }

    .five-truths .title-text .title-text-down {
        font-weight: 300;
        font-style: italic;
        color: #dedce7;
    }

    .five-truths .content {
        padding: 3rem 5rem;
        font-weight: 300;
        font-style: italic;
        font-size: 30px;
        color: #dedce7;
    }

        .five-truths .content div {
            margin-bottom: 1rem;
        }

        .five-truths .content img {
            margin-right: 0.5rem;
        }

button {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 1.2px;
    padding: 15px 65px;
    margin: 2rem 0;
    border-radius: 50px;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    box-shadow: 0px 4px 4px 0 rgba(149, 149, 149, 0.6);
    background-image: linear-gradient(to right, #f565ff, #d6432a);
}

    button a {
        color: var(--white-color);
        text-decoration: none;
    }

        button a:hover {
            opacity: 0.9;
            color: var(--white-color);
        }

/* quote */
.box-text-quote {
    top: 75%;
    margin: 0 140px;
    font-style: italic;
    font-size: 30px;
    border-radius: 18px;
    padding: 6rem 5rem 4rem;
    border: 5px solid var(--secondary-color);
    box-shadow: 0px 0px 4px 4px rgb(188 30 161 / 60%);
}

.icon-quote {
    top: -10%;
    width: 15%;
}

.box-text-quote p {
    margin-bottom: 2rem;
}

/* reason */
.reason {
    margin: 5rem 0 3rem 15px;
}

    .reason .box {
        font-size: 30px;
        margin: 2rem 0;
        min-height: 110px;
        border-radius: 20px;
        color: var(--black-color);
        padding: 1rem 1rem 1rem 6rem;
        background: var(--white-color);
    }

    .reason .back {
        top: 10%;
        z-index: -1;
        left: -15px;
    }

    .reason .decor {
        left: -15px;
    }

    .reason .box .number {
        font-size: 58px;
        line-height: 120%;
        margin-right: 2rem;
        font-weight: 800;
        color: var(--secondary-color);
    }

    .reason .box .text {
        font-weight: 600;
    }

/* meeting-content */
.meeting-content {
    margin-top: 30rem;
    padding: 0 140px;
}

    .meeting-content .box {
        padding: 1rem 4rem 4rem;
        font-size: 30px;
        border-radius: 18px;
        color: var(--black-color);
        background-color: var(--white-color);
    }

    .meeting-content .title {
        font-size: 68px;
        font-weight: 600;
        margin-bottom: 1rem;
        letter-spacing: 1.2px;
        color: var(--secondary-color);
    }

    .meeting-content .sub-box {
        border-left: 10px solid var(--green-color);
        padding-left: 1.5rem;
        margin: 1rem 2rem 0;
    }

    .meeting-content .box .decor {
        left: -15px;
        z-index: 1;
    }

    .meeting-content .back {
        left: -15px;
        z-index: -1;
        top: 10px;
    }

/* benefit */
.benefit {
    padding: 0 140px;
}

.benefit-item {
    font-size: 30px;
    border-radius: 20px;
    margin-bottom: 2rem;
    padding: 1rem 1rem 1rem 3rem;
    border: 5px solid var(--secondary-color);
    box-shadow: 0px 0px 2px 2px rgb(188 30 161 / 60%);
}

    .benefit-item .number {
        font-size: 120px;
        color: var(--green-color);
        font-weight: 800;
        line-height: 120%;
        margin-right: 3rem;
    }

    .benefit-item .text {
        color: #dedce7;
    }

/* participant */
.participant .title {
    margin-bottom: -4rem;
}

.participant-item {
    width: 520px;
    height: 520px;
    border-radius: 50%;
    border: 3px solid var(--secondary-color);
    box-shadow: 0px 0px 2px 2px rgb(188 30 161 / 60%);
    display: grid;
    place-content: center;
    position: relative;
}

    .participant-item .box {
        padding: 0 4rem;
        width: 100%;
        height: 100%;
        font-size: 26px;
        margin-top: -4rem;
    }

        .participant-item .box .number {
            font-size: 80px;
            font-weight: 800;
            color: var(--green-color);
        }

    .participant-item.item_1 {
        margin: 0 auto;
        bottom: -120px;
    }

    .participant-item.item_2 {
        right: -15px;
    }

    .participant-item.item_3 {
        left: -15px;
    }

/* information course */

.infor-course {
    padding: 0 140px;
}

    .infor-course .maps {
        max-width: 640px;
        margin: 4rem auto;
    }

        .infor-course .maps .box {
            font-size: 38px;
            padding: 10px 26px;
            border-radius: 14px;
            border: 3px solid var(--secondary-color);
            box-shadow: 0px 0px 4px 4px rgba(188, 30, 161, 60%);
        }

            .infor-course .maps .box:nth-child(2) {
                border: 2px solid var(--primary-color);
                box-shadow: 0px 0px 2px 2px rgba(0, 251, 251, 60%);
            }

    .infor-course .maps-img {
        margin-top: 2rem;
    }

/* tickets */
.tickets .box {
    width: 445px;
    font-size: 28px;
    min-height: 343px;
    text-align: center;
    padding: 30px;
    border-radius: 18px;
    border: 1px solid var(--primary-color);
    box-shadow: 0px 0px 4px 4px rgba(0, 251, 251, 60%);
}

/* form-submit */
.form-submit {
    padding: 20px 40px;
    border-radius: 30px;
    margin: 0 auto;
    max-width: calc(100% - 100px);
    background-color: var(--white-color);
}

    .form-submit input,
    .form-submit select {
        width: 100%;
        font-size: 28px;
        margin-top: 2rem;
        padding: 5px 10px;
        outline: none;
        min-height: 56px;
    }

    .form-submit select {
        color: #757576;
    }

        .form-submit select option:first {
            color: #999;
        }

/* sale-off */
.sale-off .box {
    color: var(--green-color);
    padding: 20px;
    min-width: 280px;
    font-size: 50px;
    font-weight: 600;
    border-radius: 18px;
    margin: 30px 0;
    border: 1px solid var(--primary-color);
    box-shadow: 0px 0px 4px 4px rgba(0, 251, 251, 60%);
}

.sale-off .info-bank,
.sale-off .content-send {
    font-size: 30px;
    font-weight: 300;
}

    .sale-off .info-bank strong {
        font-weight: 600;
    }
/* footer */
.footer {
    font-size: 30px;
    padding: 4rem;
    background-color: #2b388f;
}

    .footer .text {
        font-weight: 600;
        margin-left: 1rem;
    }

    .footer span {
        font-weight: 600;
    }

    .footer p {
        margin-left: 4rem;
        font-weight: 300;
    }

    .footer .logo {
        width: 70%;
    }

@media only screen and (max-width: 1160px) {
    .information {
        padding: 0 20px;
    }

    button {
        font-size: 30px;
        padding: 10px 48px;
    }

    .five-truths .box-title {
        flex-direction: column;
    }

    .five-truths .content {
        padding: 1rem;
        font-size: 16px;
    }

    .box-text-quote {
        margin: 0 20px;
        font-size: 16px;
        padding: 3rem 1rem 1rem;
    }

    .icon-quote {
        top: -22%;
        width: 12%;
    }

    .meeting-content {
        margin-top: 13rem;
        padding: 0 20px;
    }

        .meeting-content .title {
            font-size: 32px;
            width: 90%;
            margin: 0 auto;
        }

        .meeting-content .box {
            font-size: 16px;
            padding: 1rem 1rem 3rem;
        }

        .meeting-content .sub-box {
            margin: 1rem 1rem 0;
            border-left: 5px solid var(--green-color);
            padding-left: 1rem;
        }

    .benefit {
        padding: 0 20px;
    }

        .benefit .title img {
            width: 80%;
        }

    .benefit-item {
        flex-direction: column;
        padding: 1rem;
        font-size: 16px;
    }

        .benefit-item .number {
            font-size: 80px;
            margin-right: 0;
        }

    .participant div:nth-child(2) div:nth-child(2) {
        flex-direction: column;
        align-items: center;
        font-size: 16px;
    }

    .participant .title {
        margin-bottom: 0;
    }

        .participant .title img,
        .infor-course .title img,
        .form-register .title img,
        .sale-off .title img {
            width: 80%;
        }

    .participant-item {
        width: 320px;
        height: 320px;
    }

        .participant-item .box {
            padding: 0 2rem;
        }

        .participant-item.item_1 {
            bottom: 0;
            margin-bottom: 2rem;
        }

        .participant-item.item_2 {
            right: 0;
            margin-bottom: 2rem;
        }

        .participant-item.item_3 {
            left: 0;
            margin-bottom: 2rem;
        }

    .infor-course {
        padding: 0 20px;
    }

        .infor-course .maps .box {
            font-size: 16px;
            padding: 10px 16px;
        }

        .infor-course .maps-img img {
            width: 100%;
        }

    .tickets .box {
        width: 320px;
        font-size: 16px;
        padding: 2rem 1rem;
        min-height: auto;
    }

    .infor-address .box {
        flex-direction: column;
    }

        .infor-address .box .text {
            font-size: 16px;
        }

        .infor-address .box img {
            width: 22px;
        }

        .infor-address .box > div {
            padding: 0;
            width: 100%;
        }

    .reason .box {
        display: flex;
        align-items: center;
        font-size: 16px;
        padding: 1rem 1rem 1rem 4rem;
    }

        .reason .box .number {
            font-size: 42px;
            margin-right: 1rem;
        }

    .result .box {
        font-size: 18px;
    }

    .five-truths .box-title {
        padding: 1rem;
    }

        .five-truths .box-title .title-text {
            font-size: 16px;
        }

        .five-truths .box-title .number {
            font-size: 80px;
        }

    .tickets div:nth-child(1) {
        flex-direction: column;
        align-items: center;
    }

    .form-submit {
        max-width: 100%;
        padding: 20px;
        border-radius: 15px;
    }

        .form-submit input,
        .form-submit select {
            margin-top: 1rem;
            font-size: 16px;
            min-height: 44px;
        }

    .sale-off .box {
        min-width: auto;
        font-size: 16px;
    }

    .sale-off .info-bank,
    .sale-off .content-send {
        font-size: 16px;
    }

    .footer {
        font-size: 16px;
        padding: 40px;
    }

        .footer div {
            flex-direction: column;
        }

            .footer div .col-6,
            .footer .logo {
                width: 100%;
            }

                .footer div .col-6:nth-child(2) div {
                    flex-direction: row;
                }
}

@media only screen and (max-width: 767px) {
    .banner {
        margin-bottom: 6rem;
    }

    .list-up .col-6 {
        width: 100%;
    }

    .list-down {
        top: 78% !important;
        width: 100%;
    }

    .list-up .img-person1,
    .list-up .img-person2 {
        width: 90%;
    }

    .list-up .img-person2 {
        left: -55%;
    }

    .list-up .img-person1 {
        left: 60%;
    }

    .list-down .col-4 {
        width: 100%;
    }

    .list-down .img-person {
        width: 21%;
    }

    .list-down .col-4:nth-child(1) .img-person {
        left: 22%;
    }

    .list-down .col-4:nth-child(2) .img-person {
        left: 50%;
    }

    .list-down .col-4:nth-child(3) .img-person {
        left: 78%;
    }

    .meeting-content {
        margin-top: 40rem;
    }

    .benefit .title img,
    .participant .title img,
    .infor-course .title img,
    .form-register .title img,
    .sale-off .title img {
        width: 90%;
    }

    .icon-quote {
        top: -4%;
    }
}
