@using LadingPage.Common.Enums
@using LadingPage.Common.Enums.Extension
<div class="landing-page relative">
    <img src="./img/decor.png" alt="" class="absolute decor-body" />
    <div>
        <section class="banner relative">
            <img src="./img/bg-banner.png"
                 alt=""
                 class="bg-banner relative w-full" />
            <img src="./img/text-banner.png"
                 alt=""
                 class="text-banner absolute" />
            <div class="wrapper-person absolute w-full">
                <div class="row relative list-up">
                    <div class="col-6 relative">
                        <img src="./img/person_1.png"
                             alt=""
                             class="img-person1 absolute" />
                    </div>
                    <div class="col-6 relative">
                        <img src="./img/person_2.png"
                             alt=""
                             class="img-person2 absolute" />
                    </div>
                </div>
            </div>
            <div class="row absolute list-down" style="top: 67%">
                <div class="col-4 relative">
                    <img src="./img/person_3.png"
                         alt=""
                         class="absolute img-person" />
                </div>
                <div class="col-4 relative">
                    <img src="./img/person_4.png"
                         alt=""
                         class="absolute img-person" />
                </div>
                <div class="col-4 relative">
                    <img src="./img/person_5.png"
                         alt=""
                         class="absolute img-person" />
                </div>
            </div>
        </section>

        <section class="information max-width">
            <div class="infor-address">
                <div class="box row">
                    <div class="col-7 d-flex align-items-center">
                        <img src="./img/location.svg" alt="" />
                        <div class="text">
                            Hanoi Towers, 49 Hai Bà Trưng,
                            <br />Hoàn Kiếm, Hà Nội
                        </div>
                    </div>
                    <div class="col-5 d-flex align-items-center">
                        <img src="./img/watch.svg" alt="" />
                        <div class="text">
                            <div>14:00 - 18:00,</div>
                            <div>Thứ 7 <span>ngày</span> 17/12/2022</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="reason">
                <div class="relative" style="z-index: 1">
                    <img src="./img/back-decor.png" alt="" class="back absolute" />
                    <div class="box">
                        <div class="decor absolute">
                            <img src="./img/front-decor.png" alt="" class="front" />
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="number">01</div>
                            <div class="text">
                                Khi mà việc chạy Ads ngày càng trở nên tốn kém và kém hiệu
                                quả
                            </div>
                        </div>
                    </div>
                </div>

                <div class="relative" style="z-index: 1">
                    <img src="./img/back-decor.png" alt="" class="back absolute" />
                    <div class="box">
                        <div class="decor absolute">
                            <img src="./img/front-decor.png" alt="" class="front" />
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="number">02</div>
                            <div class="text">
                                Khi mà nội dung hay chưa chắc còn giữ chân được người xem
                            </div>
                        </div>
                    </div>
                </div>

                <div class="relative" style="z-index: 1">
                    <img src="./img/back-decor.png" alt="" class="back absolute" />
                    <div class="box">
                        <div class="decor absolute">
                            <img src="./img/front-decor.png" alt="" class="front" />
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="number">03</div>
                            <div class="text">
                                Khi mà hình ảnh đẹp đầu tư bao công sức tương tác còn không
                                bằng một video 10s
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="result">
                <div class="box">
                    <img src="./img/arrowPink.svg" alt="" width="16px" />
                    Livestream đã trở thành phương pháp bán hàng yêu thích của nhiều
                    các nhãn hàng. Nhưng Livestream thu hút và giữ chân người xem để
                    ra đơn lại là một vấn đề không hề đơn giản, vậy chúng ta cần làm
                    gì để nổi bật giữa biển người đang Live hằng ngày?
                </div>
            </div>

            <div class="five-truths">
                <div class="box-title d-flex align-items-center">
                    <div class="number">05</div>
                    <div class="title-text">
                        <div class="title-text-up">
                            sự thật của người bán hàng hiện nay CẦN ĐƯỢC GIẢI QUYẾT
                        </div>
                        <div class="title-text-down">
                            Vấn đề nhức nhối mà 90% người làm kinh doanh đang gặp phải
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div>
                        <img src="./img/arrowPink.svg" alt="" width="16px" />
                        Nhà nhà bán hàng, người người bán hàng
                    </div>

                    <div>
                        <img src="./img/arrowPink.svg" alt="" width="16px" />
                        Bán hàng trên mọi nền tảng từ FB, TikTok, IG, Zalo
                    </div>

                    <div>
                        <img src="./img/arrowPink.svg" alt="" width="16px" />
                        Có người một ngày ngàn đơn cũng có người cả ngày vài đơn hoặc 0
                        đơn nào
                    </div>

                    <div>
                        <img src="./img/arrowPink.svg" alt="" width="16px" />
                        Có người đầu tư rất nhiều tiền vào hình ảnh, content nhưng không
                        có kết quả, tương tác thua những video ngắn vài chục giây
                    </div>

                    <div>
                        <img src="./img/arrowPink.svg" alt="" width="16px" />
                        Có người ngày ngày đổ 1 núi tiền vào chạy ADS cũng chỉ như “muối
                        bỏ biển”
                    </div>
                </div>
            </div>
        </section>

        <div class="text-center">
            <button>
                <a href="#form">ĐĂNG KÝ NGAY</a>
            </button>
        </div>

        <section class="quote relative">
            <img src="./img/bg-quote.png" alt="" class="w-full" />
            <div class="box-text-quote absolute">
                <img src="./img/quote.svg" alt="" class="absolute icon-quote" />
                <p>
                    Nhằm giúp các nhãn hàng khỏi loay hoay tìm ra giải pháp cho sản
                    phẩm của mình. WORKSHOP "ĐỪNG ĐỂ BẢN THÂN LỖI THỜI" sẽ thảo luận
                    về xu thế mới trên thị trường đó là bán hàng trên LlVE STREAM - Độ
                    hiệu quả cao mà lại tiết kiệm chi phí
                </p>
                <p>
                    Livestream đã dần trở thành phương pháp bán hàng yêu thích của các
                    doanh nghiệp. Tuy nhiên, Livestream làm sao để thu hút, giữ chân
                    người xem và chuyển đổi ra đơn lại là một vấn đề không hề đơn giản
                </p>
                <p>
                    Vậy chúng ta cần làm gì để nổi bật giữa “biển người” đang
                    livestream cạnh tranh khốc liệt hằng ngày?
                </p>
            </div>
        </section>

        <div class="meeting-content">
            <div class="relative" style="z-index: 1">
                <img src="./img/back-decor.png" alt="" class="back absolute" />
                <div class="box">
                    <div class="decor absolute">
                        <img src="./img/front-decor.png" alt="" class="front" />
                    </div>
                    <div class="title text-center">Nội dung buổi hội thảo</div>
                    <div>
                        <img src="./img/arrowPink.svg" alt="" width="16px" />
                        Kiến thức về cách khai thác livestream trên các nền tảng
                    </div>
                    <div>
                        <img src="./img/arrowPink.svg" alt="" width="16px" />
                        Thuật toán cập nhật mới nhất từ các nền tảng MXH hiện nay
                    </div>
                    <div>
                        <img src="./img/arrowPink.svg" alt="" width="16px" />
                        Chia sẻ công thức livestream ngàn đơn:
                    </div>
                    <div class="sub-box">
                        <div>
                            <img src="./img/arrowGreen.svg" alt="" width="10px" />
                            Quy trình livestream khép kín
                        </div>
                        <div>
                            <img src="./img/arrowGreen.svg" alt="" width="10px" />
                            Xây dựng tối ưu bộ máy nhân sự vận hành mô hình livestream
                        </div>

                        <div>
                            <img src="./img/arrowGreen.svg" alt="" width="10px" />
                            Cách xử lý khủng hoảng truyền thông, trả lời xử lý các comment
                            tiêu cực,tình huống bất ngờ trong khi livestream
                        </div>
                        <div>
                            <img src="./img/arrowGreen.svg" alt="" width="10px" />
                            Cách tối ưu chuyển hóa đơn hàng trong livestream làm sao tỉ lệ
                            ra đơn hàng được cao nhất
                        </div>
                        <div>
                            <img src="./img/arrowGreen.svg" alt="" width="10px" />
                            10 công cụ livestream vạn đơn thực chiến mà không 1 streamer
                            nào muốn cho bạn biết
                        </div>
                        <div>
                            <img src="./img/arrowGreen.svg" alt="" width="10px" />
                            Các loại máy móc công nghệ cần có của 1 nhà bán hàng
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button>
                <a href="#form">ĐĂNG KÝ NGAY</a>
            </button>
        </div>

        <div class="benefit">
            <div class="title text-center">
                <img src="./img/loi_ich.png" alt="" />
            </div>
            <div class="benefit-list">
                <div class="benefit-item d-flex align-items-center">
                    <div class="number">01</div>
                    <div class="text">
                        Nắm bắt được các tính năng khi livestream trên các nền tảng, các
                        ưu nhược điểm mà mỗi nền 01 tảng mang lại
                    </div>
                </div>

                <div class="benefit-item d-flex align-items-center">
                    <div class="number">02</div>
                    <div class="text">
                        Thấu hiểu & xây dựng tổng quan các nội dung livestream, các phễu
                        tiếp cận khách hàng như 02 chia sẻ kiến thức, giao lưu, bán
                        hàng…
                    </div>
                </div>

                <div class="benefit-item d-flex align-items-center">
                    <div class="number">03</div>
                    <div class="text">
                        Hiểu rõ các thuật toán phân phối livestream trên các kênh mạng
                        xã hội, áp dụng trực tiếp 03 cho kênh livestream của bản thân
                    </div>
                </div>

                <div class="benefit-item d-flex align-items-center">
                    <div class="number">04</div>
                    <div class="text">
                        Tiếp cận quy trình livestream ngàn đơn và xây dựng đội ngũ vận
                        hành, các công cụ hỗ trợ 04 livestream
                    </div>
                </div>

                <div class="benefit-item d-flex align-items-center">
                    <div class="number">05</div>
                    <div class="text">
                        Hỏi đáp trực tiếp các vấn đề của bản thân với diễn giả, tham gia
                        giao lưu, học hỏi cùng mọi người trong hội trường
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button>
                <a href="#form">ĐĂNG KÝ NGAY</a>
            </button>
        </div>

        <div class="participant">
            <div class="title text-center">
                <img src="./img/participant.png" alt="" />
            </div>
            <div class="relative">
                <div class="participant-item item_1">
                    <div class="box text-center">
                        <div class="number">01</div>
                        <div class="text">
                            Hội thảo dành cho các bạn chưa kinh doanh hoặc muốn khởi
                            nghiệp bằng KDOL với nhiều ngành nghề như thời trang, mỹ phẩm,
                            đồ gia dụng… cần tìm hiểu về hướng đi livestream bán hàng
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="participant-item item_2">
                        <div class="box text-center">
                            <div class="number">02</div>
                            <div class="text">
                                Những chủ shop, chủ thương hiệu kinh doanh truyền thống,
                                muốn thay đổi tiếp cận thị trường bằng hình thức livestream
                            </div>
                        </div>
                    </div>
                    <div class="participant-item item_3">
                        <div class="box text-center">
                            <div class="number">03</div>
                            <div class="text">
                                Những ai muốn cải thiện khả năng livestream và mở rộng kênh
                                bán hàng
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button>
                <a href="#form">ĐĂNG KÝ NGAY</a>
            </button>
        </div>

        <div class="infor-course">
            <div class="title text-center">
                <img src="./img/info_course.png" alt="" />
            </div>

            <div class="infor-address">
                <div class="box row">
                    <div class="col-7 d-flex align-items-center">
                        <img src="./img/location.svg" alt="" />
                        <div class="text">
                            Hanoi Towers, 49 Hai Bà Trưng, Hoàn Kiếm, Hà Nội
                        </div>
                    </div>
                    <div class="col-5 d-flex align-items-center">
                        <img src="./img/watch.svg" alt="" />
                        <div class="text">
                            <div>14:00 - 18:00,</div>
                            <div>Thứ 7 ngày 17/12/2022</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="maps">
                <div class="d-flex justify-content-around">
                    <div class="box">Screen</div>
                    <div class="box">Sân khấu</div>
                    <div class="box">Screen</div>
                </div>
                <div class="maps-img">
                    <img src="./img/maps.png" alt="" />
                </div>
            </div>

            <div class="tickets">
                <div class="d-flex justify-content-center gap-5">
                    <div class="box">
                        <img src="./img/ticket_gold.png" alt="" class="w-full" />
                        <div>
                            <img src="./img/arrowGreen.svg" alt="" width="10px" />
                            Vé tham dự hội thảo
                        </div>
                    </div>

                    <div class="box">
                        <img src="./img/ticket_diamond.png" alt="" class="w-full" />
                        <div>
                            <img src="./img/arrowGreen.svg" alt="" width="10px" />
                            Vé tham dự hội thảo
                        </div>
                        <div>
                            <img src="./img/arrowGreen.svg" alt="" width="10px" />
                            Nước uống
                        </div>
                        <div>
                            <img src="./img/arrowGreen.svg" alt="" width="10px" />
                            Vị trí gần sân khấu
                        </div>
                        <div>
                            <img src="./img/arrowGreen.svg" alt="" width="10px" />
                            Gift bag (sổ + bút)
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="d-flex justify-content-center">
                    <div class="box">
                        <img src="./img/ticket_platinum.png" alt="" class="w-full" />
                        <div>
                            <img src="./img/arrowGreen.svg" alt="" width="10px" />
                            Vé tham dự hội thảo
                        </div>
                        <div>
                            <img src="./img/arrowGreen.svg" alt="" width="10px" />
                            Nước uống
                        </div>
                        <div>
                            <img src="./img/arrowGreen.svg" alt="" width="10px" />
                            Vị trí hàng đầu
                        </div>
                        <div>
                            <img src="./img/arrowGreen.svg" alt="" width="10px" />
                            Đồ ăn nhẹ
                        </div>
                        <div>
                            <img src="./img/arrowGreen.svg" alt="" width="10px" />
                            Gift bag (sổ + bút)
                        </div>
                        <div>
                            <img src="./img/arrowGreen.svg" alt="" width="10px" />
                            Chụp ảnh cùng diễn giả
                        </div>
                        <div>
                            <img src="./img/arrowGreen.svg" alt="" width="10px" />
                            Voucher giảm giá 1 triệu cho khóa học Livestream của Kolin
                            Academy
                        </div>
                    </div>
                </div>
            </div>

            <div id="form" class="form-register">
                <div class="title text-center">
                    <img src="./img/dang_ky.png" alt="" />
                </div>

                <form id="contact-form">
                    <div class="form-submit">
                        <input type="text" id="ct_full_name" placeholder="Họ và tên" />
                        <input type="email" id="ct_email" placeholder="Email" />
                        <input type="text" id="ct_sdt" placeholder="Số điện thoại" />
                        <select id="ct_ticket_type">
                            <option value="" disabled selected>Chọn loại vé</option>
                            <option value="1">@TicketType.Gold.DisplayName()</option>
                            <option value="2">@TicketType.Diamond.DisplayName()</option>
                            <option value="3">@TicketType.Platium.DisplayName()</option>
                        </select>
                        <input type="number" min="1" id="ct_ticket_number" placeholder="Số lượng vé" />
                        <input type="text" id="ct_ticket_address" placeholder="Địa chỉ nhận vé" />
                        <input type="text" id="ct_ticket_question" placeholder="Câu hỏi dành cho diễn giả" />

                        <div class="text-center">
                            <button type="button" id="btn-contact-submit">ĐĂNG KÝ NGAY</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="sale-off text-center">
                <div class="title">
                    <img src="./img/uu_dai.png" alt="" />
                </div>
                <div class="d-flex justify-content-center gap-5">
                    <div class="box">
                        MUA 4 <br />
                        TẶNG 1
                    </div>
                    <div class="box">
                        MUA 3 <br />
                        GIẢM 10%
                    </div>
                </div>

                <div class="info-bank">
                    <p><strong>THÔNG TIN TÀI KHOẢN:</strong></p>
                    <p>NGÂN HÀNG: <strong>VP BANK</strong></p>
                    <p>STK: <strong>881 666 666 666 66</strong></p>
                    <p>CHỦ TK:<strong>VŨ DIỆU THÚY</strong></p>
                </div>
                <br />
                <div class="content-send">
                    <strong> NỘI DUNG CK: TÊN_SDT_HẠNG VÉ_SỐ LƯỢNG VÉ </strong>
                </div>
                <br />

                <div class="text-center">
                    <button>
                        <a href="#form">ĐĂNG KÝ NGAY</a>
                    </button>
                </div>
                <br />
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="row d-flex align-items-center">
            <div class="col-6">
                <img src="./img/logo_footer.png" alt="" class="logo" />
            </div>
            <div class="col-6">
                <div class="d-flex align-items-center">
                    <img src="./img/location.svg" alt="" width="40px" />
                    <div class="text">
                        Hanoi Towers, 49 Hai Bà Trưng, Hoàn Kiếm, Hà Nội
                    </div>
                </div>
                <p>Hotline: <span>097 3835859</span></p>
            </div>
        </div>
    </div>
</div>
@section Scripts{
   
    <script src="~/js/contact.js"></script>
}
