<!-- Swiper-->
<section class="section swiper-container swiper-slider swiper-slider-1" data-loop="true">
    <div class="swiper-wrapper context-dark text-center">
        <div class="swiper-slide" data-slide-bg="images/slide-1d.png">
            <div class="swiper-slide-caption section-md">
                <div class="container">
                    <h4 class="swiper-title-3" data-caption-animate="fadeInLeft" data-caption-delay="200">Welcome to </h4>
                    <h1 class="swiper-title-1" data-caption-animate="fadeScale" data-caption-delay="100">eximani</h1>
                    @*<h3 class="swiper-title-2" data-caption-animate="fadeInRight" data-caption-delay="200">Grown with Us</h3>*@
                    <div class="button-wrap" data-caption-animate="fadeInUp" data-caption-delay="300"><a class="button button-lg button-shadow-3 button-secondary button-zakaria" href="contact">Enquire Now</a></div>
                </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-bg="images/slide-2d.png">
            <div class="swiper-slide-caption section-md">
                <div class="container">
                    <h4 class="swiper-title-3" data-caption-animate="fadeInLeft" data-caption-delay="200">High-Quality Organic Products</h4>
                    <h1 class="swiper-title-1" data-caption-animate="fadeScale" data-caption-delay="100">Vegetables</h1>
                    <h3 class="swiper-title-2" data-caption-animate="fadeInRight" data-caption-delay="200">Without harmful additives</h3>
                    <div class="button-wrap" data-caption-animate="fadeInUp" data-caption-delay="300"><a class="button button-lg button-shadow-3 button-secondary button-zakaria" href="contact">Enquire Now</a></div>
                </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-bg="images/slide-3d.png">
            <div class="swiper-slide-caption section-md">
                <div class="container">
                    <h4 class="swiper-title-3" data-caption-animate="fadeInLeft" data-caption-delay="200">Fresh Organic Products</h4>
                    <h1 class="swiper-title-1" data-caption-animate="fadeScale" data-caption-delay="100">Fruits</h1>
                    <h3 class="swiper-title-2" data-caption-animate="fadeInRight" data-caption-delay="200">With lots of vitamins</h3>
                    <div class="button-wrap" data-caption-animate="fadeInUp" data-caption-delay="300"><a class="button button-lg button-shadow-3 button-secondary button-zakaria" href="contact">Enquire Now</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Swiper Pagination-->
    <div class="swiper-pagination"></div>
    <!-- Swiper Navigation-->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</section>
<!-- About Us-->
<section class="section section-inset-2 bg-default text-md-left">
    <div class="container">
        <div class="row row-30 align-items-center justify-content-center justify-content-xl-between">
            <div class="col-sm-6 col-md-5 col-lg-6 wow fadeInLeft" style="display: flex;justify-content: center; align-items: center">
                <img src="images/logohoathimau.png" alt=""  style="width:62%" />
            </div>
            <div class="col-md-7 col-lg-6 col-xl-5">
                <h4 class="title-style-1 wow fadeInRight">A Few Words About Eximani</h4>
                <h2 class="wow fadeInRight" data-wow-delay=".1s">About us</h2>
                <p class="offset-top-md-20 wow fadeInRight" data-wow-delay=".2s">We - EXIMANI VIETNAM Co., LTD is the leading supplier and manufacturer of Raw Incense Stick, Raw Materials (Joss Powder, Wood Powder, Black/ White Premix Powder, Bamboo Stick) and Spices ( Cassia and Star Anise ) to customers in India, Dominican Republic, Bangladesh, Indonesia, Philippines,Malaysia, Sri Lanka, Pakistan, Panama... from small manufacturers to big over the world.</p>
                <div class="group-xl group-middle d-md-flex justify-content-md-between wow fadeInRight" data-wow-delay=".3s">
                    <div>
                        <div class="group-xl group-middle">
                            <a class="button button-sm button-icon-3 button-secondary button-zakaria" href="about"><span class="mdi mdi-arrow-right"></span></a>
                            <div class="team-navy">
                                <div class="team-navy-name"><a href="#">ABC</a></div>
                                <div class="team-navy-status">Founder</div>
                            </div>
                        </div>
                    </div><img src="images/signature-1-160x55.png" alt="" width="160" height="55" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="parallax-container" style="font-family: " Lato", -apple-system, BlinkMacSystemFont, "Segoe UI" , Roboto, "Helvetica Neue" , Arial, sans-serif";>
    <div class="parallax-content section-xxl context-dark">
        <div class="container">
            <div class="row row-30 box-ordered">
                <div class="col-sm-6 col-lg-4 wow fadeInLeft" data-wow-delay=".1s">
                    <article class="box-icon-modern" style="text-align: center; !important">
                        <div class="box-icon-modern-header">
                            <img src="images/quality.svg" style="height: 75px;">
                        </div>
                        <h4 class="box-icon-modern-title" ><a style="color: #f9520b;" href="#">Dịch vụ  <br> Hàng đầu</a></h4>
                        <p class="box-icon-modern-text">Với đội ngũ nhân viên chuyên nghiệp, có kinh nghiệm lâu năm trong lĩnh vực xuất khẩu, chúng tôi cam kết đem tới cho khách hàng dịch vụ tốt nhất.</p>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-4 wow fadeInLeft" data-wow-delay=".1s">
                    <article class="box-icon-modern" style="text-align: center; !important">
                        <div class="box-icon-modern-header">
                            <img src="images/spchatluong.jpg" style="height: 75px;">
                        </div>
                        <h4 class="box-icon-modern-title"><a href="#">Sản phẩm <br> Chất lượng cao</a></h4>
                        <p class="box-icon-modern-text">Các sản phẩm Eximani xuất khẩu ra thị trường nước ngoài luôn được đối tác đánh giá cao về chất lượng, giữ vững niềm tin của khách hàng ở nhiều nơi trên thế giới</p>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-4 wow fadeInLeft" data-wow-delay=".1s">
                    <article class="box-icon-modern" style="text-align: center; !important">
                        <div class="box-icon-modern-header">
                            <img src="images/price.png" style="height: 75px;">
                        </div>
                        <h4 class="box-icon-modern-title"><a href="#">Giá cả <br> Cạnh tranh</a></h4>
                        <p class="box-icon-modern-text">Để có thể đưa sản phẩm ra nước ngoài mà vẫn phải đảm bảo lợi nhuận cho khách hàng, chúng tôi luôn cung cấp sản phẩm với mức giá phù hợp nhất.</p>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-4 wow fadeInLeft" data-wow-delay=".1s">
                    <article class="box-icon-modern" style="text-align: center; !important">
                        <div class="box-icon-modern-header">
                            <img src="images/quytrinh.jpg" style="height: 75px;">
                        </div>
                        <h4 class="box-icon-modern-title"><a href="#">Quy Trình <br> Chuẩn</a></h4>
                        <p class="box-icon-modern-text">Để đảm bảo việc giao hàng đúng thời hạn, chúng tôi luôn tìm cách tối ưu quy trình xin thủ tục thông quan tại Hải Quan Việt Nam</p>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-4 wow fadeInLeft" data-wow-delay=".1s">
                    <article class="box-icon-modern" style="text-align: center; !important">
                        <div class="box-icon-modern-header">
                            <img src="images/hethongsxtt.jpg" style="height: 75px;">
                        </div>
                        <h4 class="box-icon-modern-title"><a href="#">Hệ Thống Sản Xuất  <br>  Tiên tiến</a></h4>
                        <p class="box-icon-modern-text">Để có thể cung cấp cho khách hàng đúng số lượng và chất lượng, Chúng tôi có hệ thống nhà máy sản xuất theo công nghệ tiên tiến ở khắp các tỉnh thành tại Việt Nam.</p>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-4 wow fadeInLeft" data-wow-delay=".1s">
                    <article class="box-icon-modern" style="text-align: center; !important">
                        <div class="box-icon-modern-header">
                            <img src="images/time.png" style="height: 75px;">
                        </div>
                        <h4 class="box-icon-modern-title"><a href="#">Logistic <br>  Đồng bộ</a></h4>
                        <p class="box-icon-modern-text">Hệ thống Logistics đảm bảo chất lượng sản phẩm từ khi xuất xưởng cho tới khi sản phẩm tới tay khách hàng</p>
                    </article>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- New Products-->
<section class="section section-xxl bg-default">
    <div class="container">
        <h4 class="title-style-1 wow fadeInLeft">We Deal In</h4>
        <h2 class="wow fadeScale">Products</h2>
        <div class="isotope-wrap">
           
            <div class="row row-30 row-lg-50 isotope">
                <div class="col-sm-6 col-md-4 col-lg-3 isotope-item" data-filter="Type 1">
                    <!-- Product-->
                    <article class="product wow fadeInRight">
                        <div class="product-body">
                            <div class="product-figure">
                                <img src="~/images/exm-product/bothuong.jpg" alt="" width="220" height="160" />
                            </div>
                            <h5 class="product-title"><a href="product">Bột hương</a></h5>

                        </div>
                        <div class="product-button-wrap">
                            <div class="product-button"><a class="button button-secondary button-zakaria fl-bigmug-line-search74" href="product"></a></div>

                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 isotope-item" data-filter="Type 1">
                    <!-- Product-->
                    <article class="product wow fadeInRight" data-wow-delay=".1s">
                        <div class="product-body">
                            <div class="product-figure">
                                <img src="images/exm-product/hoahoi.jpg" alt=" chilli" width="191" height="132" />
                            </div>
                            <h5 class="product-title"><a href="product">Hoa hồi</a></h5>

                        </div>
                        <div class="product-button-wrap">
                            <div class="product-button"><a class="button button-secondary button-zakaria fl-bigmug-line-search74" href="product"></a></div>

                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 isotope-item" data-filter="Type 2">
                    <!-- Product-->
                    <article class="product wow fadeInRight" data-wow-delay=".2s">
                        <div class="product-body">
                            <div class="product-figure">
                                <img src="images/exm-product/que.jpg" alt="" width="238" height="158" />
                            </div>
                            <h5 class="product-title"><a href="product">Quế</a></h5>

                        </div>
                        <div class="product-button-wrap">
                            <div class="product-button"><a class="button button-secondary button-zakaria fl-bigmug-line-search74" href="product"></a></div>

                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 isotope-item" data-filter="Type 3">
                    <!-- Product-->
                    <article class="product wow fadeInRight" data-wow-delay=".3s">
                        <div class="product-body">
                            <div class="product-figure">
                                <img src="images/exm-product/tamnhang.jpeg" alt="" width="210" height="168" />
                            </div>
                            <h5 class="product-title"><a href="product">Tăm Nhang</a></h5>

                        </div>
                        <div class="product-button-wrap">
                            <div class="product-button"><a class="button button-secondary button-zakaria fl-bigmug-line-search74" href="product"></a></div>

                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our clients-->
<section class="section section-xxl bg-image-3 image-decor-wrap">
    <div class="container">
        <h4 class="title-style-1 wow fadeInRight">Latest Testimonials</h4>
        <h2 class="wow fadeScale" style="color: #FFF">Our clients</h2>
        <!-- Owl Carousel-->
        <div class="owl-carousel owl-style-3" data-items="1" data-margin="200" data-autoplay="true" data-nav="true" data-dots="true" data-smart-speed="400" data-animation-in="fadeIn" data-animation-out="fadeOut">
            <!-- Quote Modern-->
            <article class="quote-modern quote-modern-2">
                <div class="quote-modern-text">
                    <div class="q">The Container from your Company is wonderful. We had a great profit with this quality. Thank you so much for such a wonderful quality.</div>
                </div>
                <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                    <div class="unit-left">
                        <div class="quote-modern-figure">
                            <img src="images/user-11-62x62.jpg" alt="" width="62" height="62" />
                        </div>
                    </div>
                    <div class="unit-body">
                        <div class="quote-modern-author">Nguyen</div>
                        <div class="quote-modern-status">Vietnam</div>
                    </div>
                </div>
            </article>
            <!-- Quote Modern-->
            <article class="quote-modern quote-modern-2">
                <div class="quote-modern-text">
                    <div class="q">I picked sample from your company first and than had a full container from your company it was really nice having deal with you. Quality was too good and delivery was on time.</div>
                </div>
                <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                    <div class="unit-left">
                        <div class="quote-modern-figure">
                            <img src="images/user-10-62x62.jpg" alt="" width="62" height="62" />
                        </div>
                    </div>
                    <div class="unit-body">
                        <div class="quote-modern-author">Bill Mcmillan</div>
                        <div class="quote-modern-status">Australia</div>
                    </div>
                </div>
            </article>
            <!-- Quote Modern-->
            <article class="quote-modern quote-modern-2">
                <div class="quote-modern-text">
                    <div class="q">I wanted to tell you how amazing it was to see the Products and how much we love the food.  Your Lemonn and Chillies are just wonderful and their taste is spectacular.</div>
                </div>
                <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                    <div class="unit-left">
                        <div class="quote-modern-figure">
                            <img src="images/user-6-62x62.jpg" alt="" width="62" height="62" />
                        </div>
                    </div>
                    <div class="unit-body">
                        <div class="quote-modern-author">Jane Peterson</div>
                        <div class="quote-modern-status">England</div>
                    </div>
                </div>
            </article>
        </div>
   
</section>
<!-- Banner-->
<!-- Section Product and Clients-->
<section class="section section-sm section-first bg-default text-md-left">
    <div class="container">
        <div class="row row-30 justify-content-center align-items-md-center">
            <div class="col-sm-8 col-md-5 col-xl-6">
                <div class="inset-xl-right-20">
                    <div class="product-wrap-1 bg-image-1 block-1">
                        <!-- Owl Carousel-->
                        <div class="owl-carousel owl-style-5" data-items="1" data-margin="30" data-dots="true" data-autoplay="true">
                            <article class="product-creative">
                                <div class="product-figure">
                                    <img src="images/exm-product/hohoi3.jpg" alt="" width="470" height="324" />
                                </div>
                                <h4 class="product-creative-title"><a href="product">Hoa Hồi</a></h4>
                                <div class="product-creative-price-wrap">
                                </div>
                            </article>
                            <article class="product-creative">
                                <div class="product-figure">
                                    <img src="images/exm-product/que3.jpg" alt="" width="470" height="324" />
                                </div>
                                <h4 class="product-creative-title"><a href="product"></a>Quế</h4>
                                <div class="product-creative-price-wrap">
                                </div>
                            </article>
                            <article class="product-creative">
                                <div class="product-figure">
                                    <img src="images/exm-product/nhang.jpg" alt="" width="470" height="324" />
                                </div>
                                <h4 class="product-creative-title"><a href="product">Nhang</a></h4>
                                <div class="product-creative-price-wrap">
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-xl-6">
                <h4 class="title-style-1 wow fadeInRight">Why Choose Us ??</h4>
                <h2 class="text-spacing-20 wow fadeInRight" data-wow-delay=".1s">We are Best</h2>
                <!-- Bootstrap collapse-->
                <div class="card-group-custom card-group-custom-1 card-group-corporate" id="accordion1" role="tablist" aria-multiselectable="false">
                    <!-- Bootstrap card-->
                    <article class="card card-custom card-corporate wow fadeInRight" data-wow-delay=".2s">
                        <div class="card-header" role="tab">
                            <div class="card-title">
                                <a id="accordion1-card-head-vinxbnny" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-pxkhxtgg" aria-controls="accordion1-card-body-pxkhxtgg" aria-expanded="true" role="button">
                                    Our &quot;Mission&quot;
                                    <div class="card-arrow">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="collapse show" id="accordion1-card-body-pxkhxtgg" aria-labelledby="accordion1-card-head-vinxbnny" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                                <p>"Contribute for high quality of product and services for the betterment of society."</p>
                            </div>
                        </div>
                    </article>
                    <!-- Bootstrap card-->
                    <article class="card card-custom card-corporate wow fadeInRight" data-wow-delay=".3s">
                        <div class="card-header" role="tab">
                            <div class="card-title">
                                <a class="collapsed" id="accordion1-card-head-jaaceytc" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-krbiajls" aria-controls="accordion1-card-body-krbiajls" aria-expanded="false" role="button">
                                    Our Vision
                                    <div class="card-arrow">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="accordion1-card-body-krbiajls" aria-labelledby="accordion1-card-head-jaaceytc" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                                <p>EXIMANI VIETNAM aims to remain trading partners of the world entrepreneurs to reap success.</p>
                                <p>Our passion is to interact with the global trade to exchange innovative ideas and offer sharing our strengths to create better products. We intend to emerge as a destination of the world to play a major role in developing good products provided from Vietnam.</p>
                            </div>
                        </div>
                    </article>
                    <!-- Bootstrap card-->
                    <article class="card card-custom card-corporate wow fadeInRight" data-wow-delay=".4s">
                        <div class="card-header" role="tab">
                            <div class="card-title">
                                <a class="collapsed" id="accordion1-card-head-vikedqad" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-wgyktlpb" aria-controls="accordion1-card-body-wgyktlpb" aria-expanded="false" role="button">
                                    Why Us?
                                    <div class="card-arrow">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="accordion1-card-body-wgyktlpb" aria-labelledby="accordion1-card-head-vikedqad" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                                <h5>&quot;GOOD PRODUCT, GOOD SERVICE&quot;</h5>
                                <p>With decades of establishing and operating, we have built up a wide and strong network of loyal customers throughout countries in Europe, Middle East, Asia, and Africa also.</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Blog-->

<section class="section">
    <!-- RD Google Map-->
    @*<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14765.054604550196!2d70.7688101!3d22.3058665!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe417be0259c2f47!2sJasal%20Complex!5e0!3m2!1sen!2sin!4v1594985253132!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>*@
    <div class="mapouter"><div class="gmap_canvas"><iframe width="1200" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Ho%C3%A0n%20Ki%E1%BA%BFm%20H%C3%A0%20N%E1%BB%99i&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies2.org"></a><br>
    <style>
        .mapouter {
            position: relative;
            text-align: right;
            height: 500px;
            width: 100%;
        }
    </style>
    <style>
        .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 500px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style></div></div>

</section>



<div class="snackbars" id="form-output-global"></div>

